<p>
<% if current_user %>
		<%= link_to current_user.email, current_user.messenger %> 	
		<%= link_to "sign out", { :controller 	=> 'sessions', 
													 		:action 			=> 'destroy'}, 
															:method 			=> :delete    %>
<% else %>
	<%= link_to "sign in", { 	:controller 	=> 'sessions', 
												 		:action 			=> 'new' } %>
	|
	<%= link_to "sign up", { 	:controller 	=> 'users', 
												 		:action 			=> 'new' } %>

<% end %>
</p>
