<div class="third">
<p>
	<%= link_to "update your profile.", edit_messenger_path %>
</p>
<% if messenger.around? %>
<%= button_to_remote "check out",
 							:url	=>	{   :controller		=>	'messengers',
														:action				=>	'update',
														:id						=>	messenger.id,
														:checking_out	=>  true },
							:method	  => 'put' %>
	
<% else %>
	<%= button_to_remote "check in",
	 							:url	=>	{   :controller		=>	'messengers',
															:action				=>	'update',
															:id						=>	messenger.id,
															:checking_in	=>  true },
								:method	  => 'put' %>
<% end %>
<ul>
	<% messenger.missions.each do |mission|%>
		<%= link_to mission.created_at.to_date.to_s + " -- " + mission.customer.name.to_s + " -- " + to_status( mission.status ), mission, :style =>'font-size:8pt;' %>
		<br />
	<% end %>
</ul>
</div><!--end third-->
