<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
	<title>TreadEx: Messenger</title>
	<meta http-equiv="content-type" 
		content="text/html;charset=utf-8" />
	<meta http-equiv="Content-Style-Type" content="text/css" />
	<link rel="icon" type="image/vnd.microsoft.icon" href="images/favicon.ico">
<style type="text/css" media="screen">
@import url("/stylesheets/style.css");
</style>
<%= javascript_include_tag :defaults %>


</head>
<body>
<div id="container">

	<div id="header_single">
		<div id="headerleft_single">
			<h2><%= link_to "#{image_tag('header_single.gif', :style => 'border:0;')}", root_url %></h2>
		</div>

		<div id="headerright_single">
			<%= render :partial => 'global/session_bar' %>
		</div>
 
	</div><!--/header-->

	
	
	<!-- <div class="navsingle"><a href="#">Home</a><a href="#">How does this work?</a><a href="#">About us</a><a href="#">Legal</a></div> -->
	<div class="thirdlong" style="display:none;">
	Your profile has been updated.
	</div><!-- thirdlong end -->
	
	<%= yield %>


	<div id="footer1">	
		<div id="sidebar1">


		
		<span style="float:right; margin-right:10px;">&copy; Copyright 2009 <a href="#"><img src="/images/copyrightsize.gif" alt="TreadEx." border=0></a></span>

		</div><!--/sidebar-->
	<div style="background-color:#F0CE57; height:4px; width:960px;">&nbsp;</div>
	<div style="background-color:#39B63C; height:4px; width:960px;">&nbsp;</div>
	</div><!--/footer-->	
		
</div><!--/container-->


</body>
</html>